@model Users
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Öğrenci</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>


<div class="panel panel-info" style="margin-top: 50px; margin-left: 150px; margin-right: 150px;">
    <div class="panel-heading">Öğrenci Alanını Düzenle</div>
    <div class="panel-body">
        <form asp-action="StudentRegistration" method="post">
            <div class="form-group">
                <label asp-for="TC">TC</label>
                <input asp-for="TC" class="form-control" readonly/>
            </div>

            <div class="form-group">
                <label asp-for="FullName">İsim Soyisim</label>
                <input asp-for="FullName" class="form-control"  />
            </div>


            <div class="form-group">
                <label asp-for="DateOfBirth">Doğum Tarihi</label>
                <input asp-for="DateOfBirth" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Sex">Cinsiyet</label>
                <input asp-for="Sex" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Degree">Derece</label>
                <input asp-for="Degree" class="form-control" readonly/>
            </div>


            <div class="form-group">
                <label asp-for="User_Address">Adres</label>
                <textarea class="form-control" rows="3" id="comment" asp-for="User_Address"></textarea>
            </div>



            <div class="form-group">
                <label asp-for="BloodGroup">Kan Grubu</label>
                <select class="form-control" asp-for="BloodGroup">
                    <option>A rh+</option>
                    <option>A rh-</option>
                    <option>B rh+</option>
                    <option>B rh-</option>
                    <option>0 rh+</option>
                    <option>0 rh-</option>
                    <option>AB Rh+</option>
                    <option>AB Rh-</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="ParentInfo">Yakın Bilgisi</label>
                <input asp-for="ParentInfo" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PillDetail">Kullandığı ilaç bilgisi</label>
                <input asp-for="PillDetail" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="IllnessDetail">Hastalık Bilgisi</label>
                <input asp-for="IllnessDetail" class="form-control" />
            </div>





            <div class="text-center">
                <button class="btn btn-success" type="submit">Kaydet ve Rezervasyon Sayfasına İlerle</button>

            </div>
        </form>
    </div>
</div>

    
</body>
