@model PoolDB
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Havuz Grubu Güncelle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<div class="panel panel-info" style="margin-top: 50px; margin-left: 150px; margin-right: 150px;">
    <div class="panel-heading">Havuz Oluştur</div>
    <div class="panel-body">
        <form asp-action="UpdatePool" method="post">

            <div class="form-group">
                <label asp-for="PoolID">ID</label>
                <input asp-for="PoolID" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="PoolName">Havuz İsmi</label>
                <select class="form-control" asp-for="PoolName">
                    <option>Oval</option>
                    <option>Sportif</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="KulvarNo">Kulvar Numarası</label>
                <input asp-for="KulvarNo" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Limit">Kulvar Kontenjanı</label>
                <input asp-for="Limit" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Degree">Derece</label>
                <select class="form-control" asp-for="Degree">
                    <option>Baslangic</option>
                    <option>2.Teknik</option>
                    <option>3.Teknik</option>
                    <option>4.Teknik</option>
                    <option>2.Seviye</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="AgeInfo">Yaş Bilgisi (Sadece tek bir yaş yazınız)</label>
                <input asp-for="AgeInfo" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="DayInfo">Gün Bilgisi</label>
                <select class="form-control" asp-for="DayInfo">
                    <option>Salı/Persembe</option>
                    <option>Çarşamba/Cuma</option>
                    <option>Cumartesi/Pazar</option>

                </select>
            </div>

            <div class="form-group">
                <label asp-for="TimePeriod">Saat Aralığı</label>
                <select class="form-control" asp-for="TimePeriod">
                    <option>7.00-8.00</option>
                    <option>8.00-9.00</option>
                    <option>9.00-10.00</option>
                    <option>10.00-11.00</option>
                    <option>11.00-12.00</option>
                    <option>12.00-13.00</option>
                    <option>13.00-14.00</option>
                    <option>14.00-15.00</option>
                    <option>15.00-16.00</option>
                    <option>16.00-17.00</option>
                    <option>17.00-18.00</option>
                    <option>18.00-19.00</option>
                    <option>19.30-20.30</option>
                    <option>20.30-21.30</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="BookingStatus">Rezervasyon Durumu</label>
                <input asp-for="BookingStatus" class="form-control" />
            </div>





            <div class="text-center">
                <button type="submit" class="btn btn-success" style="width: 200px;">Kaydet</button>
              
            </div>
        </form>


          
    </div>
</div>


</body>
